.letter-cell {
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    width: 75px;
    display: inline-block;
}

input {
    margin: auto;
    width: 40px !important;
}

.unanswered {
    background-color: grey;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}